
:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-bg-color: #F5F5F5;
    --primary-white-color:#ffffff;
}
body{
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}
.list {
    list-style: none;
}
/*logo-basic*/
.logo-basic{
    color: #000000;
}

.logo{
    color: var(--accent-color);
}
/*site-nav*/
.site-nav .link{
    color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--accent-color);
}

.site-nav .link.current{
color: var(--accent-color);
}

/*auth-nav list*/
.auth-nav .link {
    color: var(--primary-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

/*hero*/
.button{
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}


/*section*/
.section-title{
    color: var(--title-text-color);
}

/*features*/
.features .title{
    color: var(--title-text-color);
}

/*examples*/
.work-list {
    color: var(--title-text-color);
}

/*team*/
.title{
color: var(--title-text-color);
}